@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  .sectionHeading {
    @apply uppercase tracking-[20px] text-gray-500 text-2xl mb-20;
  }

  .ringCircle {
    @apply absolute border border-[#333333] rounded-full mt-52;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-[#9FACBD] placeholder-gray-500 transition-all focus:border-[#27B2BA]/40 focus:text-[#9FACBD]/40 hover:border-[#27B2BA]/40;
  }
}

/* Embla Carousel */

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-gap: 10px;
  /* padding: 1.6rem; */
  /* padding: 0 0 3rem; */
  max-width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing);
  margin-right: var(--slide-gap); */
  position: relative;
}

.embla__slide--projects {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: var(--slide-spacing); */
  position: relative;
}

/* @media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
} */

@media (min-width: 1024px) {
  .embla {
    max-width: 800px;
  }

  .embla__slide {
    flex: 0 0 50%;
    margin-right: 20px;
  }

  .embla__dot {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (min-width: 1280px) {
  .embla {
    max-width: 1300px;
  }

  .embla__slide {
    flex: 0 0 33.3%;
    margin-right: 30px;
  }
}

.embla__button {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__buttons {
  display: none;
  width: 100%;
  /* align-items: center; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* left: 0; */
  /* right: 0; */
}

.embla__buttons--experience { 
  display: none;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1536px) {
  .embla__buttons{
    display: flex;
  }
  
  .embla__buttons--experience{
    display: flex;
  }
}

.embla__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}

.embla__button--prev {
}

.embla__button--next {
  margin-left: auto;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

.embla__dot {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  position: absolute;
  bottom: 7em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.embla__dot {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: #2F4858;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: "";
}

.embla__dot--selected:after {
  background: linear-gradient(
    45deg,
    #3AD9CE,
    #27B2BA
  );
}
